.card {
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
  &:hover {
    transform: translateY(5px);
    background-color: #f8f8f8;
  }
  &Bottom {
    display: flex;
    justify-content: space-between;
  }
}
.image {
  width: 100%;
  height: auto;
  min-height: 300px;
  padding: 40px 60px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.title {
  font-weight: bold;
}
.category {
  margin: 10px 0;
  color: #a5a5a5;
}
.description {
  flex-grow: 1;
}
.price {
  margin-top: 10px;
  font-weight: bold;
}
.button {
  width: 85px;
  padding: 5px auto;
  border: 2px solid;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  &Add {
    border-color: #02008d;
    color: #02008d;
    &:hover {
      color: #fff;
      background-color: #02008d;
    }
  }
  &Remove {
    border-color: #d10000;
    color: #d10000;
    &:hover {
      color: #fff;
      background-color: #d10000;
    }
  }
}
