* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
input,
button {
  font-family: 'Montserrat', sans-serif;
}
html {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
